@model IEnumerable<TravelLog.Models.OrderWrap>

@{
    ViewData["Title"] = "OrderManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link rel="stylesheet" href="../vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="../vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Content body start -->
    <div>
        <h1>所有訂單</h1>

        <table class="table">
            <thead>
                <tr class="font-weight-bold">
                    <th>
                        訂單序號
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTotalAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeleteAt)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int serialNum = 0;
                    foreach (var item in Model)
                    {
                        serialNum++;
                        <tr>
                            <td>
                                @serialNum
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderTotalAmount)
                            </td>
                            <td id="order-status-@item.OrderId">
                                @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>
                            <td id="cancel-at-@item.OrderId">
                                @Html.DisplayFor(modelItem => item.DeleteAt)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-outline-info">訂單詳情</a>
                                <a asp-controller="Order" asp-action="OrderEdit" asp-route-id="@item.OrderId" class="btn btn-outline-warning">修改訂單</a>
                                <button type="button" id="btnCancel" data-order-id="@item.OrderId" onclick="cancelOrder(this)" class="btn btn-outline-danger">取消訂單</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- Content body end -->
    <!-- Scripts -->
    <script src="../js/Order/OrderManage.js"></script>

    <!-- Required vendors -->
    <script src="../vendor/global/global.min.js"></script>
    <script src="../js/quixnav-init.js"></script>
    <script src="../js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morris/morris.min.js"></script>


    <script src="../vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="../vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="../vendor/flot/jquery.flot.js"></script>
    <script src="../vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="../vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="../vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="../vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="../vendor/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="../js/dashboard/dashboard-1.js"></script>

</body>