@model IEnumerable<TravelLog.Models.OrderWrap>

@{
    ViewData["Title"] = "OrderManage";
}

    <div>
        <h1>所有訂單</h1>

        <table class="table">
            <thead>
                <tr class="font-weight-bold">
                    <th>
                        訂單序號
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTotalAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeleteAt)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int serialNum = 0;
                    foreach (var item in Model) {
                        serialNum++;
                        <tr>
                            <td>
                                @serialNum
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderTotalAmount)
                            </td>
                            <td id="order-status-@item.OrderId">
                                @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>
                            <td id="cancel-at-@item.OrderId">
                                @Html.DisplayFor(modelItem => item.DeleteAt)
                        </td>
                            <td>
                                <a asp-controller="Order" asp-action="OrderDetail" asp-route-id="@item.OrderId" class="btn btn-outline-info">訂單詳情</a>
                                <a asp-controller="Order" asp-action="OrderEdit" asp-route-id="@item.OrderId" class="btn btn-outline-warning">修改訂單</a>
                            <button type="button" id="btnCancel" data-order-id="@item.OrderId" onclick="cancelOrder(this)" class="btn btn-outline-danger">取消訂單</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Scripts -->
    <script src="../js/Order/OrderManage.js"></script>