@model TravelLog.Models.OrderWrap

@{
    ViewData["Title"] = "OrderDetail";
}

<h1>詳細資料</h1>

<div>
    <h4>訂單</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Order" asp-action="OrderEdit" asp-route-id="@Model?.OrderId" class="btn btn-outline-warning">修改訂單</a>
    <a asp-controller="Order" asp-action="OrderManage" class="btn btn-outline-danger">取消修改</a>
</div>
