@model IEnumerable<TravelLog.Models.TicketWrap>

@{
    ViewData["Title"] = "List";
}

<h1>票務管理</h1>

<p>
    <a asp-action="Create">新增票種</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th>
                序
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketsType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefundPolicy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td class="checkbox-cell">
                        <div class="form-check checkbox-wrapper">
                            <input type="checkbox" class="form-check-input"
                                   disabled
                            @(item.IsAvailable ? "checked" : "") />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketsName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketsType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefundPolicy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TicketsId">修改</a> |
                        <a asp-action="Delete"
                           asp-route-id="@item.TicketsId"
                           onclick="return confirm('確定要刪除這個票種嗎?');">刪除</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <style>
        .checkbox-cell {
            text-align: center;
            vertical-align: middle;
            width: 50px;
        }

        .checkbox-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .form-check-input {
            margin: 0;
            position: relative;
            float: none;
            margin-top: -2px;
        }
    </style>
}
